.main-container-introduction {
  margin-top: 1%;
}

.introduction-sectioin {
  min-width: 700px;
  width: 40vw;
}

#my-role {
  color: #c6c6c6;
  min-width: 40vw;
  min-width: 710px;
}

.introduction-sectioin h1,
.introduction-sectioin p {
  margin-bottom: 5px;
}

.introduction-sectioin p {
  width: 100%;
  max-width: 550px;
}

.introduction-section-paragraph {
  margin-top: 2.25%;
}
