<div class="wrapper">
  <div class="services-content">
    <div class="services-text">
      <p id="section-services" class="small-paragraph">What I offer</p>
      <h1 class="section-title">Services</h1>
    </div>
    <div class="services-grid">
      <div class="service-item">
        <h2 class="service-title">Custom Website Development</h2>
        <div class="service-description">
          Custom website development service is designed to bring your unique
          vision to life. I create tailor-made websites that align with your
          brand identity and business goals. Whether you need a simple
          infomational site or a complex web application, i use the latest
          design trends to ensure your website stnads out and provides an
          exceptional user experience.
        </div>
      </div>
      <div class="service-item">
        <h2 class="service-title">Full Stack Application Development</h2>
        <div class="service-description">
          Full Stack appliaction development service covers everything from
          front-end user interfaces to back-end server management. I build
          powerful, scalable web applications tailored to your specific needs.
          Using the latest technologies and frameworks, we ensure your
          application is robust, secure, and performs optimally.
        </div>
      </div>
      <div class="service-item">
        <h2 class="service-title">Modern Blog Design</h2>
        <div class="service-description">
          Full Stack appliaction development service covers everything from
          front-end user interfaces to back-end server management. I build
          powerful, scalable web applications tailored to your specific needs.
          Using the latest technologies and frameworks, we ensure your
          application is robust, secure, and performs optimally.
        </div>
      </div>
      <div class="service-item">
        <h2 class="service-title">E-commerce Solutions</h2>
        <div class="service-description">
          Full Stack appliaction development service covers everything from
          front-end user interfaces to back-end server management. I build
          powerful, scalable web applications tailored to your specific needs.
          Using the latest technologies and frameworks, we ensure your
          application is robust, secure, and performs optimally.
        </div>
      </div>
      <app-button
        [buttonText]="'Contact Me'"
        [buttonAction]="navigate"
      ></app-button>
    </div>
  </div>
</div>
